# 1. Root-level ignores
/node_modules
/package-lock.json

# 2. Nested Project-level ignores
/Project/node_modules
/Project/package-lock.json
/Project/dist
/Project/build
/Project/out


# 3. Common System/Log files
.env*
npm-debug.log*