# Dependencies
/node_modules

# Build folders
# Netlify in folders ko build ke dauraan khud generate kar leta hai
/build
/dist
/out

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
# Jinmein sensitive information ho sakti hai
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
